<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/content.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <title>Violin.io</title>
</head>
<body>
<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/landingpage">
            <h1><span>V</span>iolin <span>I</span>o</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>-
          <ul>
            <li><a href="/landingpage">Home</a></li>
            <li><a href="/technique" class="active">Learn</a></li>
            <li><a href="/predict" >Real Time Classification</a></li>
            <li class="dropdown">
              <a href="/profile" class="dropbtn">{{name}}<img src=" {{image}} " alt= "img/default.png" style="vertical-align: top; height: 25px;width: 40px; border-radius: 22px;"></a>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/update">Update Profile</a>
                <a href="/">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!-- End Header -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<!-- Narrative Content -->
    <section id="content">
        <div class="content-container">
            <div class="content-title">
                <h1>The <span>Detache</span> Technique</h1>
            </div>
            <div class="content-image">
                <img src="/static/img/img1.jpg" alt="img">
            </div>
            <div class="content-main">
                <p>
                    The detache is the simplest of all the bowing techniques.
                    It is simply the down-bow and up-bow stroke of the bow into the string.
                    It is also called the normal bowing as it only plays one note on each bow stroke.
                </p>
                <br>
                <p>
                  It is commonly called the simple detache and one cannot call it a simple detache if 
                  one full bow stroke was not performed before the next note to be played takes over.
                </p>
            </div>
        </div>
    </section>
<!-- End Narrative Content-->

<!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
     <!--   <h1><span>S</span>haif <span>A</span>rfan</h1> -->
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Footer -->

<script src="static/content.js"></script>
</body>
</html>