<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/output.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/landingpage">
            <h1><span>V</span>iolin <span>I</span>o</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>-
          <ul>
            <li><a href="/landingpage" >Home</a></li>
            <li><a href="/technique" >Learn</a></li>
            <li><a href="/predict" class="active">Technique Classifier</a></li>
            <li class="dropdown">
              <a href="/profile" class="dropbtn"> {{name}} <img src=" {{image}} " alt="profile_img" style="vertical-align: top; height: 25px;width: 40px; border-radius: 22px;"></a>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/update">Update Profile</a>
                <a href="/">Log Out</a>
              </div>
            </li>
          </ul>
        </div>  
      </div>
    </div>
  </section>
  <!-- End Header -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
        <h1 class="section-title">Classification<span>Result</span></h1>
      </div>
         <div class="output">
          <table id="customers">
              <tr>
                <th colspan="5"><p style="color: white;">Target Output: <span> {{targetc}}</span></p></th>
              </tr>
              <tr>
                <td><p style="font-weight:700;">{{prediction_text}}</p> </td>
                <td><p style="font-weight:700;">{{prediction_text2}}</p> </td>
                <td><p style="font-weight:700;">{{prediction_text3}}</p> </td>
                <td ><p style="font-weight:700;">{{prediction_text4}}</p> </td>
                <td><p style="font-weight:700;">{{prediction_text5}}</p> </td>
              </tr>
              <tr>
                <td>
                  <img src ="{{color}}" style="width: 60px;">
                </td>
                <td>
                  <img src ="{{color1}}" style="width: 60px;">
                </td>
                <td>
                  <img src ="{{color2}}" style="width: 60px;">
                </td>
                <td>
                  <img src ="{{color3}}" style="width: 60px;">
                </td>
                <td>
                  <img src ="{{color4}}" style="width: 60px;">
                </td>
              </tr>

            </table>
          </div>
        <table id = "customers" style="margin-top: 20px;">
                <tr>
                    <td>
                      <table id="customer">
                        <tr>
                          <td><img src="https://i.ibb.co/1QZyrqm/green-removebg-preview.png" style="width: 60px;"></td>
                          <td><p style="font-weight:700; text-align: left;"> indicates that the recording of the user is highly similar to the compared violin bowing technique</p></td>
                        </tr>
                        <tr>
                          <td><img src="https://i.ibb.co/HqWfqMt/orange-removebg-preview.png" style="width: 60px;"></td>
                          <td><p style="font-weight:700; text-align: left;"> indicates that the recording of the user is somewhat similar to the compared violin bowing technique</p></td>
                        </tr>
                        <tr>
                          <td><img src="https://i.ibb.co/Lg02zh4/red-removebg-preview.png" style="width: 60px;"></td>
                          <td><p style="font-weight:700; text-align: left;"> indicates that the recording of the user is nowhere to be compared on the violin bowing technique</p></td>
                        </tr>
                      </table>
                    </td>
                    <td>
                      <audio id="audio" style="width:300px ; margin-bottom:15px;" controls><source src="{{audiofile}}" id="src" /></audio><br>
                      <a href = "/predict" class="subBtn">Try Again</a>
                    </td>
                </tr>
              </table>

  </div>
</section>





  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
     <!--   <h1><span>S</span>haif <span>A</span>rfan</h1> -->
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Footer -->


 



<script src="static/output.js"></script>





</body>


</html>