<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/predict.css">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/landingpage">
            <h1><span>V</span>iolin <span>I</span>o</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>-
          <ul>
            <li><a href="/landingpage" >Home</a></li>
            <li><a href="/technique" >Learn</a></li>
            <li><a href="/predict" class="active">Technique Classifier</a></li>
            <li class="dropdown">
              <a href="/profile" class="dropbtn"> {{name}} <img src=" {{image}} " alt="profile_img" style="vertical-align: top; height: 25px;width: 40px; border-radius: 22px;"></a>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/update">Update Profile</a>
                <a href="/">Log Out</a>
              </div>
            </li>
          </ul>
        </div>  
      </div>
    </div>
  </section>
  <!-- End Header -->

<section id="projects">

  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">Bowing <span>Classification</span></h1>
    </div>
    <form action="{{ url_for('pred')}}" method="post"  enctype="multipart/form-data" id ="sadfile" style="width: 100%;" >

    <table id="customers">

      <tr>
        <td style="background-color: #fff;"><p style="color: black;font-size: 1.7rem;
          margin-top: 5px;
          line-height: 2.5rem;
          font-weight: 300;
          letter-spacing: 0.05rem;"><label class ="label" for="technique">Select the bowing technique you are gonna input from the menu</label></p> </td>
        <td><p><span> <input list="techniques" name="technique" id="technique" required placeholder="TECHNIQUES"> </span></p></td>
      </tr>
      <tr>
        <td style="background-color:#fff;"><p style="color: black;font-size: 1.7rem;
          margin-top: 5px;
          line-height: 2.5rem;
          font-weight: 300;
          letter-spacing: 0.05rem;">Upload your 3 seconds recording by clicking the "input audio" button  <label class = "button" for="file">Input Audio </label></p> </td>
        <td> <p><span><audio id="audio" controls><source src="" id="src" />
        </audio></span></p></td>
      </tr>

    </table>
    <input type="file" name="UploadedAudio" accept=".ogg,.wav,.flac,.mp3" style="display: none;" id="file"  onchange="readFile(this.files);"/>

   <center><button type="submit" class="subBtn" id="subBtn" disabled onsubmit="myFunction()"> Classify</button></center>
  </form>

    {% if umessage != "" %}

    <p style="padding:10px;background-color:pink;color:red;">{{ umessage }}</p>

    {% endif %}





  </div>

</section>

 <datalist id="techniques">
   <option value="DETACHE">
   <option value="CHORDS">
   <option value="SON FILE">
   <option value="PORTATO">
   <option value="LEGATO">
 </datalist>




  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
     <!--   <h1><span>S</span>haif <span>A</span>rfan</h1> -->
      </div>
      <h2>Your Complete Web Solution</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Footer -->


 





<script src="static/predict.js"></script>





</body>


</html>