<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title></title>
</head>
  <style>

  .color-1{
      background-color:#D67D3E;
      color: white;
      text-decoration: none;
      padding: 10px;
      font-size: 1.3rem;
      border-radius: 5px;
  }
  .color-2{
      background-color:#29323c;
      color: white;
      text-decoration: none;
      padding: 10px;
      font-size: 1.3rem;
      border-radius: 5px;
  }
  .color-2 hover{
    color: white;
  }
</style>

<body>

  <div class="container-lg my-5 p-5 justify-content-center ">
    <div class="alert alert-success" role="alert">
    <p class="text-center h1">We sent you a mail please verify your email to continue.</p>
</div>

  <p class="text-center"><a class="btn color-1" href="/login">Login Page</a></p>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>